@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.main-content-part {
  background-color: #F8F8F8;
}

.background-image-section {
  background-image: url(./assets/images/background-UA.png);
  margin: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text-part-with-yellow-btn {
  width: 100%;
  margin: auto;
}

.title-in-background-image {
  font-family: "Nunito";
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  color: white;
  text-align: center;
}

.text-in-background-image {
  font-family: "Nunito";
  text-align: center;
  color: white;
  font-weight: 250;
  line-height: 26px;
  padding-top: 1.5%;
  text-align: center;
}

.yellow-content-btn {
  font-family: "Nunito";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: black;
  background-color: #F4E041;
  border: none;
  border-radius: 80px;
  width: 100px;
  height: 34px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.yellow-content-btn:hover {
  background: #FFE302;
  cursor: pointer;
}

.yellow-header-btn:hover {
  background: #FFE302;
  cursor: pointer;
}

.yellow-btn-wrapper {
  display: flex;
  justify-content: center;
}

.box-with-workers {
  padding-top: 7%;
}

.workers-title {
  font-family: "Nunito";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.box-with-worker {
  background: white;
  width: 370px;
  height: 254px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.workers-box-text {
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito";
  padding-top: 20px;
  text-align: center;
  line-height: 26px;
  font-weight: 400;
  text-overflow: ellipsis;
}

.workers-content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3%;
}

.workers-img {
  padding-top: 20px;
}

.content-row {
  display: flex;
  justify-content: center;
}

.content-row-upper {
  padding-bottom: 2%;
}

.box-with-worker-upper-box {
  margin-bottom: 2.2%;
}

.box-with-worker-middle-box {
  margin-left: 2%;
  margin-right: 2%;
}

.form-section {
  background: #F8F8F8;
  padding-top: 5%;
}

.form-input-for-text-or-numbers {
  width: 380px;
  height: 54px;
  border: 1px solid #D0CFCF;
  border-radius: 4px;
  font-family: "Nunito";
  background: #F8F8F8;
  color: #7E7E7E;
  padding-left: 4%;
  font-size: 16px;
  line-height: 26px;
}

.form-input-for-text-or-numbers-middle-input {
  margin-top: 14%;
  margin-bottom: 14%;
}

.title-for-checkbox {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.container-with-checkbox {
  display: flex;
  justify-content: left;
}

.phone-input-label {
  font-family: "Nunito";
  color: #7E7E7E;
  padding-left: 4%;
  line-height: 14px;
  font-size: 12px;
}

.form-content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.workers-title-for-form {
  padding-bottom: 2%;
}

.container-with-checkbox {
  padding-top: 6%;
}

.container-with-checkbox {
  display: flex;
  flex-direction: column;
}

.text-for-checkbox {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

.checkbox-container {
  padding-top: 3%;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-radio:checked + label::before {
  background-image: url(/images/checkbox.png);
  border: 1px solid #00BDD3;
}

@media (max-width: 1500px) {
  .workers-box-text-for-large-screen {
    display: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito";
    padding-top: 5%;
    text-align: center;
    line-height: 26px;
    font-weight: 400;
  }
  .box-with-worker {
    background: white;
    width: 282px;
    height: 254px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .workers-box-text-for-new-small-screen {
    display: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito";
    padding-top: 5%;
    text-align: center;
    line-height: 26px;
    font-weight: 400;
  }
}
@media (min-width: 1500px) {
  .workers-box-text-for-small-screen {
    display: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito";
    padding-top: 5%;
    text-align: center;
    line-height: 26px;
    font-weight: 400;
  }
  .workers-box-text-for-new-small-screen {
    display: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito";
    padding-top: 5%;
    text-align: center;
    line-height: 26px;
    font-weight: 400;
  }
}
@media (max-width: 860px) {
  .content-row {
    display: flex;
    flex-direction: column;
  }
  .box-with-worker-middle-box {
    margin: 0;
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .content-row-upper {
    padding-right: 2%;
    padding-bottom: 0;
  }
  .box-with-worker {
    width: 344px;
  }
  .yellow-btn-wrapper {
    padding-top: 4.5%;
  }
}
@media (max-width: 688px) {
  .box-with-worker {
    width: 344px;
  }
  .content-row-upper {
    padding-right: 0;
    padding-bottom: 0;
  }
  .workers-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .yellow-btn-wrapper {
    padding-top: 5%;
  }
  .box-with-worker-alexandro {
    margin-top: 5%;
  }
}

/*# sourceMappingURL=main.css.map */
