@media (max-width: 1487px) {
  .workers-box-text-for-small-screen {
    display: none;
  }
}

@media (max-width: 2500px) {
  .workers-box-title-for-large-screen {
    display: inline;
  }
}
@media (max-width: 1487px) {
  .workers-box-title-for-large-screen {
    display: none;
  }
}

@media (max-width: 2500px) {
  .workers-box-text-for-big-screen {
    display: none;
  }
}
@media (max-width: 1487px) {
  .workers-box-text-for-big-screen {
    display: inline;
  }
}

@media (max-width: 2500px) {
  .workers-content-wrapper {
    display: flex;
    padding-top: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 983px) {
  .workers-content-wrapper {
    justify-content: center;
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 611px) {
  .workers-content-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 2500px) {
  .box-with-worker {
    background: white;
    width: 31.3333333333%;
    height: 254px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 2500px) {
  .box-with-worker-middle-box {
    margin-left: 3%;
    margin-right: 3%;
  }
}
@media (max-width: 983px) {
  .box-with-worker-middle-box {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 4%;
    margin-bottom: 4%;
  }
}
@media (max-width: 768px) {
  .box-with-worker-middle-box {
    margin-top: 4%;
    margin-bottom: 4%;
  }
}

@media (max-width: 979px) {
  .box-with-worker {
    background: white;
    width: 82%;
    height: 254px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 979px) {
  .content-row-upper {
    align-items: end;
    flex-direction: column;
    width: 100%;
    margin-right: 1%;
  }
}
@media (max-width: 2500px) {
  .content-row-upper {
    padding-bottom: 3%;
  }
}
@media (max-width: 983px) {
  .content-row-upper {
    padding-bottom: 0%;
  }
}
@media (max-width: 611px) {
  .content-row-upper {
    align-items: center;
  }
}

@media (max-width: 979px) {
  .content-row-bottom {
    align-items: start;
    flex-direction: column;
    margin-left: 1%;
  }
}
@media (max-width: 611px) {
  .content-row-bottom {
    align-items: center;
    padding-top: 3%;
  }
}

.box-with-workers {
  padding-top: 7%;
}

.workers-title {
  font-family: "Nunito";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.workers-title-for-form {
  padding-bottom: 2%;
}

.workers-box-text {
  font-size: 16px;
  font-family: "Nunito";
  padding-top: 20px;
  text-align: center;
  line-height: 26px;
  font-weight: 400;
  text-overflow: ellipsis;
}

.workers-img {
  padding-top: 20px;
}

.content-row {
  display: flex;
  justify-content: center;
  width: 80%;
}

.box-with-worker-upper-box {
  margin-bottom: 2.2%;
}

.btn {
  font-family: "Nunito";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: black;
  background-color: #F4E041;
  border: none;
  border-radius: 80px;
  width: 100px;
  height: 34px;
}

.btn:hover {
  background: #FFE302;
  cursor: pointer;
}

.btn-for-workers-box {
  width: 120px;
}

.btn-content-wrapper {
  padding-top: 4%;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=workers.css.map */
