$font-for-all-page: 'Nunito';
$font-size-for-titles: 40px;
$background-color: #F8F8F8;
$primary-color: #F4E041;
$size-for-basic-text: 16px;
$font-weight-for-all-page: 400;
$font-for-input: #7E7E7E;
$font-weight-for-all-page: 400;