@import './variables';

@import './mixin';

.form-input {
    @include _2500 {
    width: 380px;
        height: 54px;
        border: 1px solid #D0CFCF;
        border-radius: 4px;
        font-family: $font-for-all-page;
        background: $background-color;
        color: $font-for-input;
        padding-left: 4%;
        font-size: 16px;
        line-height: 26px;
    }

    @include _419 {
        width: 325px;
    }

}

.form-inputs-wrapper {
    @include _2500 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.input-for-image-wrapper {
    @include _2500 {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 9%;
    }

    @include _419 {
        width: 85%;
    }

}

.form {
    @include _2500 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    @include _419 {
        align-self: center;
    }
}

.container-with-checkbox {
    @include _2500 {
                display: flex;
                flex-direction: column;
                padding-top: 6%;
                padding-right: 55%;
        }
    
        @include _419 {
            padding-right: 40%;
        }
}

.form-section {
    background: $background-color;
    padding-top: 9%;

}

// .form-input {
//     width: 380px;
//     height: 54px;
//     border: 1px solid #D0CFCF;
//     border-radius: 4px;
//     font-family: $font-for-all-page;
//     background: $background-color;
//     color: $font-for-input;
//     padding-left: 4%;
//     font-size: 16px;
//     line-height: 26px;
// }

.form-input-middle-input {
    margin-top: 14%;
    margin-bottom: 14%;
}

.title-for-checkbox {
    //styleName: Body 16;
    font-family: $font-for-all-page;
    font-size: 16px;
    font-weight: $font-weight-for-all-page;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}




.form-content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

// .form {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;

// }



.form-input-label {
    font-family: $font-for-all-page;
    font-size: 12px;
    font-weight: $font-weight-for-all-page;
    line-height: 14px;
    letter-spacing: 0em;
    color: $font-for-input;
    padding-right: 50%;
}

// .container-with-checkbox {
//     display: flex;
//         flex-direction: column;
//         padding-top: 6%;
//         padding-right: 55%;
// }

.text-for-checkbox {
    //styleName: Body 16;
    font-family: $font-for-all-page;
    font-size: $size-for-basic-text;
    font-weight: $font-weight-for-all-page;
    line-height: 26px;
    letter-spacing: 0em;
}

.checkbox-container {
    padding-top: 3%;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio+label::before {
    content: '';

    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;

}


.custom-radio:checked+label::before {
    background-image: url(/assets/images/checkbox.png);
    border: 1px solid #00BDD3;
}

.button-for-uploading-image {
    width: 83px;
    height: 54px;
}

.input-for-image {
    width: 380px;
    height: 54px;
    border: 1px solid #D0CFCF;
    border-radius: 4px;
    font-family: $font-for-all-page;
    background: $background-color;
    color: $font-for-input;
    padding-left: 4%;
    font-size: 16px;
    line-height: 26px;
}

.btn {
    font-family: $font-for-all-page;
    font-size: $size-for-basic-text;
    line-height: 26px;
    text-align: center;
    font-weight: $font-weight-for-all-page;
    color: black;
    background-color: $primary-color;
    border: none;
    border-radius: 80px;
    width: 100px;
    height: 34px;
}

.btn-for-upload {
    width: 83px;
    height: 54px;
    
    border: 1px solid #000000DE;
    font-family: $font-for-all-page;
    background: $background-color;
    color: $font-for-input;
    font-size: 16px;
    line-height: 26px;
    color: black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#image-label {
        width: 297px;
        height: 54px;
        border: 1px solid #D0CFCF;
        border-left: none;
        
        font-family: $font-for-all-page;
        background: $background-color;
        color: $font-for-input;
        padding-left: 5%;
        padding-top: 4%;
        font-size: 16px;
        line-height: 26px;
        position: relative;
        border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
};

// .input-for-image-wrapper {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     padding-top: 9%;
// }

.btn-content-wrapper-disable-btn {
    padding-top: 10%;
    padding-bottom: 10%;

}